.welcome {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: 'grey';
    padding: 10px 0;
    flex-direction: column;
}
.welcome_typist > p {
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: 'grey';
    font-family: inherit;
}