.contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
.contact > h1 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 700;
    color: 'grey';
    font-family: 'Roboto mono' 'Roboto';
}
.contact > form {
    margin-top: 10px;
    width: 100%;
}
@media screen and (max-width: 600px) {
    .contact_group_input{
        margin: 10px;
    }
}