/* About section --- */
.about{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 1px solid grey;
    margin: 20px auto;
}
.about img {
    width: 100%;
    max-width: 250px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px ;
}
.about_details{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
}
.about_details h1 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    font-family: Roboto;
}
.about_details p{
    font-weight: 400;
    margin: 0;
    padding: 5px 0;
}
.about_details ul{
    padding-top: 10px;
}
.about_details ul li{
    padding: 0 10px;
}
.about_details ul h4 {
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 700;
    padding-right: 10px;
} 
@media screen and (max-width: 1200px){
    .about{
        flex-direction: column;
        width: 100%;
        max-width: 450px;
    }
    .about img {
        max-width: 450px;
    }
    .about_details ul{
        border-top: 1px solid grey;
        padding-top: 10px;
        margin-top: 10px;
    }
    .about_details{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0;
    }
}
@media screen and (max-width: 750px){
    
}
/* skills section -----*/
.skills{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgb(5, 79, 128);
    margin-top: 20px;
    padding: 30px 10px;
    text-transform: capitalize;
}
.skills section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}
.skills header h1{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid rgb(173, 172, 172);
    margin-bottom: 10px;
    color: white;
}
.skills_front_end, .skills_back_end{
    display: flex;
    width: 100%;
    padding: 0 20px;
    color: white;
}
.skills_front_end ul, .skills_back_end ul{
    flex-direction: column;
    width: 100%;
}
.skills_front_end ul li, .skills_back_end ul li{
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(131, 130, 130);
}
.skills_front_end h4, .skills_back_end h4{
    width: 100%;
    max-width: 100px;
    color: rgb(182, 182, 182);
}
@media screen and (max-width: 750px){
    .skills section{
        flex-direction: column;
    }
    .skills_front_end{
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid grey;
    }
}