@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
}
ul{
  display: flex;
}
li{
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, div, span, a, button, section, aside, main{
  font-family: 'Roboto', sans-serif;
}
