.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.home_welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.849)), url("https://lumiere-a.akamaihd.net/v1/images/g_freeguy_20232-4_eb14a5a8.jpeg?region=0%2C0%2C1300%2C730") no-repeat center;
  background-size: cover;
  color: white;
}

@media screen and (max-width: 750px){
  .home_welcome{
   height: 80vh;
  }
}