/* Appwrapper section -------*/
.appWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-height: 90vh;
    padding: 20px;
    overflow: hidden;
}
.appWrapper main {
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-left: 315px;
}
.appWrapper aside {
    position: fixed;
    top: 2.5vh;
    bottom: 2.5vh;
    width: 300px;
    min-width: 300px;
    height: 95vh;
    z-index: 1;
    background-color: black;
}
.appWrapper footer{
    display: none;
}
@media screen and (max-width: 750px){
  .appWrapper{
    padding: 0;
    flex-direction: column;
    padding-top: 70px;
  }
  .appWrapper main {
    align-items: center;
    margin: 0;
    padding: 0 5px;
  }
  .appWrapper aside{
    position: sticky;
    width: 100%;
    height: auto;
    top: 0;
    z-index: 10;
  }
  .appWrapper footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}
}

/* nav section ----------- */
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background-color: black;
    padding: 30px 20px;
    color: rgb(97, 96, 96);
  }
  .nav > span {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: rgb(245, 245, 245);
    font-family: "Roboto";
  }
  .nav > span > img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 100%;
  }
  .nav > span > h3 {
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    font-size: 13px;
    padding-top: 10px;
    letter-spacing: 1.5px;
  }
  .nav > span > h4 {
    text-transform: uppercase;
    margin: 0;
    color: rgb(97, 97, 97);
    font-weight: 600;
    font-size: 12px;
    padding-top: 10px;
  }
  .nav > ul{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .nav > ul > li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    border-bottom: 0.02em solid rgb(46, 46, 46);
    color: rgb(102, 102, 102);
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
  }
  .nav ul li:hover{
    color: rgb(36, 126, 243);
  }
  
  .nav footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid rgb(70, 69, 69);
    padding: 10px;
  }
  .nav footer > span{
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding-bottom: 30px;
      font-weight: bold;
  }
  .nav > footer > p {
    color: rgb(180, 179, 179);
    text-align: center;
    padding-top: 25px;
    font-size: 13px;
  }
  .nav footer li {
    color: rgb(97, 96, 96);
    margin: 0 10px;
    font-size: 12px;
  }
  @media screen and (max-width: 750px){
      .nav{
          display: none;
      }
  }
